body {
    background-color: #FDFBF7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-left: 50px;
    padding-right: 50px;
}
@media (max-width: 600px) {
    body {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.about{
    margin-top: 30px;
}
.about-container{
    display: flex;
    gap: 50px;
}
.imgaes {
    width: 48%;
    height: 350px;
    border-radius: 30px;
    object-fit: cover;
    flex-shrink: 0;
}
.bite{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.journey{
    margin-bottom: 30px;
}
@media(max-width:768px){
    .about-container{
        flex-direction: column;
    }
}
@media(max-width:768px) {
    .imgaes {
        width: 100%;
        height: auto;
    }
}

/* new */
.story{
    margin-top: 50px;
}
.story-container{
    display: flex;
    gap: 30px;
    align-items: stretch;
}
.bites {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 25px;
    letter-spacing: 1px;
}
@media(max-width:768px) {
    .story-container {
        flex-direction: column;
        overflow: hidden;
    }
}
@media(max-width:1100px) {
    .journey {
      margin-bottom: 10px;
    }
        .bites {
            line-height: 21px;
        }
}

/* new */
.choose{
margin-top: 40px;
}
.outer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 0 90px;
}
.main-container{
    background-color:#4A121A ;
    border-radius: 30px;
    text-align: center;
    padding: 10px;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 2px solid #D4AF37 ;
    padding: 20px;
    border-radius: 30px;
}
.imges{
    width: 50%;
    height: 50%;
}
@media(max-width:500px){
    .outer-container{
        grid-template-columns:  1fr;
        padding: 0;
    }
}
@media(min-width:501px) and (max-width:1000px)  {
    .outer-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
    }
}

/* new */
.client{
    background-color: #4A121A;
    margin-top: 40px;
}
.number{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 200px;
    align-items: center;
    justify-content: center;
        
}
@media(max-width:500px){
    .number {
            /* display: grid; */
            grid-template-columns:  1fr;
            /* padding: 50px 200px; */
            align-items: center;
            justify-content: center;
    
        }
}
.year{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}